{{ define "main" }}
<div class="col-lg-9">
  <div class="row">
  {{ range .Pages }}
    {{ $imagelink := "" }}
    {{ with .Resources.ByType "image" }}    
    {{ $image := index ( . ) 0 }}
    {{ $image.Resize "400x jpg" }}
    {{ $imagelink = $image.Permalink }}
    {{ end }}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="{{ .Permalink }}"><img class="card-img-top" src="{{ $imagelink }}" alt="{{ .Title }}" /></a>
            <div class="card-body">
                <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                <h5>${{ .Params.price }}</h5>
                <p class="card-text">{{ .Summary }}</p>
            </div>
        </div>
    </div>

  {{ end }}
  </div>
</div>
{{ end }}
