{{ define "main" }}
<div class="col-lg-9">
    <div class="card mt-4">
      {{ with .Resources.ByType "image" }}
      {{ range . }}
        <img class="card-img-top img-fluid" src="{{ .Permalink }}" />
      {{ end }}
      {{ end }}
        <div class="card-body">
            <h3 class="card-title">{{ .Title }}</h3>
            <h4>${{ .Params.price }}</h4>
            {{- partial "add-to-cart.html" . -}}
            {{ .Content }}
            {{- partial "add-to-cart.html" . -}}
        </div>
    </div>

</div>
{{ end }}
