<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{ .Site.Title }}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{.Site.BaseURL}}css/styles.css" rel="stylesheet" />
    <link href="{{.Site.BaseURL}}css/lazarus.css" ref="stylesheet" />
</head>
