<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              {{ range .Site.Menus.main }}
                <li class="nav-item">
                  <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
              {{ end }}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
