{{ define "main" }}

<div class="col-md-8">
<h1 class="my-4">
    {{ .Title }}
    <small> {{ .Params.description }} </small>
</h1>

{{ .Content }}

{{ range .Pages }}

        <div class="card mb-4">
            <img class="card-img-top" src="{{ .Params.image }}" alt="Card image cap" />
            <div class="card-body">
                <h2 class="card-title">{{ .Title }}</h2>
                <p class="card-text">{{ .Summary }}</p>
                <a class="btn btn-primary" href="{{ .Permalink }}">Read More →</a>
            </div>
            <div class="card-footer text-muted">
                {{ .Date.Format "2006-01-02" }}
            </div>
        </div>

{{ end }}

{{ end }}
