{{ define "main" }}
<div class="col-lg-8">
    <!-- Title-->
    <h1 class="mt-4">{{ .Title }}</h1>

    <hr />
    <!-- Date and time-->
    <p>Posted on   {{ .Date.Format "January 2, 2006" }}</p>
    <hr />
    <!-- Preview image-->
    <img class="img-fluid rounded" src="{{ .Params.image }}" />
    <hr />

{{ .Content }}
{{ end }}
